# Sorting and Ranking

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
titanic = sns.load_dataset("titanic")

In [39]:
ages = titanic.sort_values("age",ascending=True).head(10)
twoFactor = titanic.sort_values(["pclass","fare"],ascending=[True,True]).head()
sIndex = titanic.sort_index().head()
print(sIndex) # when you know the index are outplaced meaning the positions are not up with indexs using sort_index makes it algined with actual index value position

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

# Grouping and Aggregation

In [12]:
print(titanic.groupby("pclass")["age"].mean())
print(titanic.groupby('pclass')["age"].agg(["mean","min","max","count","sum"]))

pclass
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64
             mean   min   max  count      sum
pclass
1       38.233441  0.92  80.0    186  7111.42
2       29.877630  0.67  70.0    173  5168.83
3       25.140620  0.42  74.0    355  8924.92

- ðŸ“Œ Phase 4: Handling Missing Data
- ðŸ“Œ Phase 5: Apply Functions

# Concatenation, Merging and Join

In [3]:
# Concatenantion

df = pd.DataFrame({'A':[1,2],'B':[3,4]})
df1 = pd.DataFrame({'A':[1,2],'B':[3,4]})

pd.concat([df,df1],axis=1)
# by default it's in vertical stack that is axis=0

   A  B  A  B
0  1  3  1  3
1  2  4  2  4

In [38]:
# Merge

l = pd.DataFrame({"id":[1,2,3],"name":["Javed","Nika","Luffy"]})
r = pd.DataFrame({"id":[2,3,4],"marks":[98,99,33]})

pd.merge(l,r, on="id",how="inner")

# how="inner": matches the right and left and shows that only.
# how="left" : shows the left all and fills missing right with NaN.
# how="right": shows the all right and fills missing left with NaN.
# how="outer": shows both and fills missing with NaN.

   id   name  marks
0   2   Nika     98
1   3  Luffy     99

In [34]:
# Joins

df = pd.DataFrame({"name":["Javed","Nika","Luffy"]}, index=['a','b','c'])
df2 = pd.DataFrame({"marks":[99,98,33]},index=['a','b','c'])

df.join(df2)

    name  marks
a  Javed     99
b   Nika     98
c  Luffy     33

# Missing Values

In [16]:
df = pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','David'],
    'Age': [25, np.nan, 30, np.nan],
    'Fare':[100, 200, np.nan, 150]
})

# print(df.isnull())
print(df.isnull().sum())

Name    0
Age     2
Fare    1
dtype: int64

In [46]:
# dropna() removes columns or rows with missing values

df.dropna() # default rows
df.dropna(axis=1)

      Name
0    Alice
1      Bob
2  Charlie
3    David

In [ ]:
# fillna() fills the missing values with provided value.

df = df['Age'].fillna(df['Age'].mean())
# df.fillna(method='ffill')

0    25.0
1    27.5
2    30.0
3    27.5
Name: Age, dtype: float64

Question: Remove all rows where any value is missing.

In [6]:
data = pd.DataFrame({
    'Name': ['Aman', 'Riya', np.nan, 'Karan', 'Meera'],
    'Age': [25, np.nan, 30, 28, np.nan],
    'Score': [85, 90, np.nan, 70, 95]
})
# data.to_csv("testing.csv",index=False)
print(data.dropna())

    Name   Age  Score
0   Aman  25.0   85.0
3  Karan  28.0   70.0

Question: From the same DataFrame, fill missing Age values with the columnâ€™s mean and missing Name values with "Unknown".

In [18]:
data = pd.DataFrame({
    'Name': ['Aman', 'Riya', np.nan, 'Karan', 'Meera'],
    'Age': [25, np.nan, 30, 28, np.nan],
    'Score': [85, 90, np.nan, 70, 95]
})
print(data)
data["Age"]=data['Age'].fillna(data['Age'].mean())
data['Name']=data['Name'].fillna("Unknown")
print(data)

    Name   Age  Score
0   Aman  25.0   85.0
1   Riya   NaN   90.0
2    NaN  30.0    NaN
3  Karan  28.0   70.0
4  Meera   NaN   95.0
      Name        Age  Score
0     Aman  25.000000   85.0
1     Riya  27.666667   90.0
2  Unknown  30.000000    NaN
3    Karan  28.000000   70.0
4    Meera  27.666667   95.0

Question: Fill missing values in Sales using forward fill first, and then try interpolation. Compare the results.

In [ ]:
df2 = pd.DataFrame({
    'Day': [1, 2, 3, 4, 5, 6],
    'Sales': [100, np.nan, 120, np.nan, np.nan, 150]
})
# Original
print(df2["Sales"].mean()) # mean with NaN values original mean

# Forward Fill
print(df2["Sales"].fillna(method='ffill').mean()) # using forward fill to calculate mean last known value( best when we know it would retain value.)

# Interpolation
print(df2["Sales"].interpolate().mean()) # interpolate fills missing value by linearly estimating between known points.

# Compare: The original mean is with missing values can't know for sure but still valid. 
#          The forward fill filled with last known value best for when we know value stay like that until next update eg. stock price etc
#          The interpolate is best in my opinion as we can just estimate the missing value between points best for when we know trends will go smooth overtime.

123.33333333333333
118.33333333333333
125.0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7528\3409546907.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df2["Sales"].fillna(method='ffill').mean()) # using forward fill to calculate mean last known value( best when we know it would retain value.)

# Apply 
used for applying function on dataFrames or series (even custom ones).

In [42]:
data = pd.DataFrame({
    'Name': ['Aman', 'Riya', 'Karan', 'Meera',"Javed"],
    'Score': [85, 90, 70, 95,32]
})

def bonusScore(Score):
    if(Score<33):
        return Score + 10
    return Score

# print(data['Score'].apply(lambda x: x**2))
# print(data['Score'].apply(bonusScore))
data['Score'] = data['Score'].apply(bonusScore)
print(data)

# Create a new column Name_Length that stores the length of each name using .apply().

def name_length(Name):
    return len(Name)


data['Name_length'] = data['Name'].apply(name_length)
print(data)

# Use .apply() on the whole DataFrame to find the sum of each column.

print(data.apply(lambda x: x.sum(),axis=0))
#other ways to solve
print(data.sum(axis=0))
print(data.iloc[:].sum(axis=0))

# Use a lambda function to categorize Score into "Pass" if â‰¥ 75 else "Fail" and store in new column.

data["Result"] = data["Score"].apply(lambda x: "Pass" if x>= 75 else "Fail")
print(data)

    Name  Score
0   Aman     85
1   Riya     90
2  Karan     70
3  Meera     95
4  Javed     42
    Name  Score  Name_length
0   Aman     85            4
1   Riya     90            4
2  Karan     70            5
3  Meera     95            5
4  Javed     42            5
Name           AmanRiyaKaranMeeraJaved
Score                              382
Name_length                         23
dtype: object
Name           AmanRiyaKaranMeeraJaved
Score                              382
Name_length                         23
dtype: object
Name           AmanRiyaKaranMeeraJaved
Score                              382
Name_length                         23
dtype: object
    Name  Score  Name_length Result
0   Aman     85            4   Pass
1   Riya     90            4   Pass
2  Karan     70            5   Fail
3  Meera     95            5   Pass
4  Javed     42            5   Fail